.map__container {
    width: 100vw;
    height: 100vh;
    background: dodgerblue;
}

.leaflet-container {
    height: 100%;
}


@media screen and (min-width: 1024px) {
    .map__container {
        width: 100%;
        height: calc(100vh - 41px);
    }
}