.map__container {
    width: 100vw;
    height: 100vh;
    background: dodgerblue;
}

.leaflet-container {
    height: 100%;
}



@media screen and (min-width: 1024px) {
    .map__container{
        height: 94vh;
    }
}